[submodule "blocks/burger"]
	path = blocks/burger
	url = https://github.com/vonas/Burger
[submodule "docs/assets/vendor/bootstrap-select"]
	path = docs/assets/vendor/bootstrap-select
	url = https://github.com/thdoan/bootstrap-select
[submodule "docs/assets/vendor/bootstrap-input-spinner"]
	path = docs/assets/vendor/bootstrap-input-spinner
	url = https://github.com/shaack/bootstrap-input-spinner
